body {
    background-color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 320px;
}

div {
    font-size: 500%;
    display: inline;
    margin: 30px;
    cursor: pointer;
}

div:hover {
     writing-mode: vertical-rl;
    /* -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-45deg); */
}

#alert {
    color: white;
}

#endgame {
    color: red;
    font-size: xx-large;
}
