body {
    background-color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 320px;
}

div {
    font-size: 500%;
    display: inline;
    margin: 30px;
    cursor: pointer;
}

div:hover {
    transform: rotatey('36deg');
}

#alert {
    color: white;
}

#endgame {
    color: red;
    font-size: xx-large;
}
